html {
    font-family: 'Roboto', sans-serif;
}

#school {
    display: inline-flex;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    height: 32px;
}

#options {
    display: inline-flex;
    float: right;
    color: rgb(63, 62, 62);
}

head {
    height: 64px;
    padding-bottom: 20px;
}

#banner {
    background-color: grey;
}
